.add-to-playlist__title {
  margin-top: 2rem;
}

.add-to-playlist__button {
  appearance: none;
  margin: 0;
  margin-top: 0.5rem;
  padding: 0;
  height: 2.5rem;
  width: 100%;
  border: 0;
  outline: 0;
  border-radius: var(--border-radius);
  border-bottom: 2px solid var(--color-black-semi-transparent);
  background-color: var(--color-gray);
  color: var(--color-action-text);
}

.add-to-playlist__button:active {
  padding-top: 2px;
  border-bottom: 0;
}

@media(min-width: 600px) {
  .add-to-playlist__button {
    width: 50%;
    float: right;
  }
}

@media(min-width: 750px) {
  .add-to-playlist__button {
    width: 16rem;
  }
}